.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-feature {
  margin-top: 20px;
}

.home-feature h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.home-feature ul {
  list-style-type: disc;
  padding-left: 20px;
}
