.rr-recent-records {
  padding: 20px;
}

.rr-record-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 500px;
}

.rr-record-card {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  background: #fff;
  height: 150px;
  transition: all 0.3s ease; /* 부드러운 전환 효과 추가 */
}

/* 마우스 오버 시 스타일 */
.rr-record-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* 그림자 추가 */
  border-color: #8FABD4; /* 테두리 색 변경 */
  cursor: pointer; /* 커서 포인터로 변경 */
}


.rr-record-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 8px;
}

.rr-record-title {
  font-size: 18px;
  font-weight: 700;
}

.rr-record-rating {
  font-size: 14px;
  color: #ffa500;
}

.rr-record-summary {
  margin-top: 8px;
  font-size: 15px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rr-record-date {
  margin-top: 6px;
  font-size: 13px;
  color: #999;
}

.rr-pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 50px 0;

}

.rr-page-number,
.rr-page-arrow {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.rr-page-number.active {
    background: #1A3D64;
    color: white;
    border-color: #1A3D64;
}

.rr-page-arrow:disabled {
    opacity: 0.4;
    cursor: default;
}

.rr-page-arrow:hover,
.rr-page-number:hover {
    background: #D7D7D7;
}


