.top-button {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #0C2B4E;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.top-button svg {
    font-size: 26px;
}

.top-button.show {
    opacity: 1;
}

.top-button:hover {
    background-color: #003f1d;
}
